
body {
    margin: 0;
    background-image: url('../Images/library.jpg');
    background-size: 100% 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    background-color: #f2f7f7;
    padding: 0.1%;
    padding-left: 5%;
}

.topNav {
    overflow: hidden;
    background-color: #312727;
}

    .topNav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        .topNav a:hover {
            background-color: #ffffff;
            color: black;
        }

.topNav-Right {
    float: right;
}

.form {
    background: white;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    color: black;
    font-size: 20px;
    padding: 2%;
    border-radius: 2%;
}
.form-content {
    background: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    color: black;
    font-size: 20px;
    padding: 2%;
    border-radius: 2%;
}
body-Content{
    background: white;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    color: black;
    font-size: 20px;
    padding: 2%;
    border-radius: 2%;
}
.form-header {
    text-align: center;
}

label {
    font-style: italic;
}

.textBox {
    width: 100%;
    padding: 1.3%;
    font-size: 65%;
}

.search-Box {
    font-size: 70%;
    padding: 0.5%;
}
.search {
    width: 10%;
    font-size: 80%;
    font-weight: 600;
    border-radius: 1%;
    background-color: darkgray;
}
.field-validation-error {
    font-size: 67%;
    color: red;
    float: right;
    padding-right: 16%;
}

.btn-submit {
    width: 40%;
    padding: 1%;
    font-size: 80%;
    font-weight: 600;
    margin-left: 25%;
    border-radius: 1%;
}

.btn-primary {
    width: 20%;
    padding: 1%;
    font-size: 80%;
    font-weight: 600;
    margin-left: 25%;
    border-radius: 1%;
    background-color: lightskyblue;
}

.btn-secondary {
    width: 40%;
    padding: 1%;
    font-size: 80%;
    font-weight: 600;
    border-radius: 1%;
    background-color: lightskyblue;
}
.btn-sucess {
    width: 20%;
    padding: 1%;
    font-size: 80%;
    font-weight: 600;
    margin-left: 5%;
    border-radius: 1%;
    background-color: forestgreen;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    background-color: white;
}

th {
    background-color: dimgray;
    color: white;
    font-weight: bold;
}

.text-box {
    width: 80%;
    padding: 1.3%;
    font-size: 65%;
}
